{% for event in events %}
{{ event.theme }}
{{ event.titre }}
Nombre de participants {{ event.nbParticipants }}

<form method="post">
<input name="event{{event.id}}" value="J'y participe" type="submit"></td>
</form>

{% endfor %}
