body {
    height: 400px;
}

img {
    width: 100%;
}

.test{
    padding-bottom: 5px ;
}

.logo {
    margin-top: -20px;
}

.regles{
    margin-top: 3%;
}

.choix {
    margin-top: 5%;
}

.btn
{
 background-color: #FA0000;
    color: white;
}

.cache {
    display: none;
    font-size: 0.9em;
}

.center-block {
    margin-bottom: 5px;
}
.titres{
    font-size: 1.3em;
}

.visible{
    display: block;
}


.thumbnail{
    max-width: 400px;
    max-height: 300px;
    min-width: 200px;
    min-height: 400px;
    margin: auto;
    -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);

}

.thumbnail_monResultat{
    max-width: 1000px;
    max-height: 100%;
    margin: auto;
    -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    display: block;
    padding: 4px;
    margin-bottom: 100px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.horaire
{
    font-weight: bolder;
}


.img-circle {
    max-width: 200px;
    max-height: 200px;
    align-content: center;
}
.banniere
{
   background-image: url("../images/banniere.png");
}

.autre_banniere img {
    background-image: url("../images/banniere.png");
    height: 30px;
}
.baseline {
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}



h2, .h2 {
    font-size: 30px;
    font-family: Sriracha;
    margin-top: 3%;
    padding: 10px;
    text-align: center;
}

h1, .h1 {
    font-size: 30px;
    font-family: Sriracha;
    text-align: center;
    margin-top: 5%;
}

h3, .h3 {
    font-size: 30px;
    font-family: Sriracha;
    text-align: center;
    margin-top: 5%;
}

p {
    font-family: Bitter;
    font-size: 1.3em;
    text-align: center;

}

footer {

    margin-top: 20%;
}


.required {
    font-family: Sriracha;
    font-size: 1.5em;
    color: black;
}

.intro {
    height: 50px;
}

.reglement {
    height: 50px;
}

.form {
    padding: 30px;

}


.form-group-etre {
    text-align: center;
}

.form-group-espace {
    text-align: center;
}

.form-group-ville {
    text-align: center;
}

.form-group-save {
    text-align: center;
    font-family: Sriracha;
    font-size: 2em;
}

#appbundle_etre_etre {
    font-family: Sriracha;
}

#appbundle_etre_espace {
    font-family: Sriracha;
}

#appbundle_etre_ville {
    font-family: Sriracha;
}

*::selection {
    background-color: #fff;
}



h1{
    text-align:center;
    background:linear-gradient(
    #fff 0%,
    #fff 45%,
    #FA0000 46%,
    #FA0000 54%,
    #fff 54%,
    #fff 100%);
    background:-webkit-linear-gradient(
            #fff 0%,
            #fff 45%,
            #FA0000 46%,
            #FA0000 54%,
            #fff 54%,
            #fff 100%);
    background:    -moz-linear-gradient(
            #fff 0%,
            #fff 45%,
            #FA0000 46%,
            #FA0000 54%,
            #fff 54%,
            #fff 100%);
    background:     -ms-linear-gradient(
            #fff 0%,
            #fff 45%,
            #FA0000 46%,
            #FA0000 54%,
            #fff 54%,
            #fff 100%);
    background:      -o-linear-gradient(
            #fff 0%,
            #fff 45%,
            #FA0000 46%,
            #FA0000 54%,
            #fff 54%,
            #fff 100%);
}
h1 span{
    background:#fff;padding:0 20px;
}


#lirelasuite {display:none;}

footer {
    border-top: 5px solid #FA0000;
    padding: 30px;
}
